<div>
<% @users.each do |user| %>
<%= user.name  %>
<%= user.email %>
<%= link_to("刪除",
                        user_path(user),
                        class: "btn btn-sm btn-default",
                        method: :delete,
                        data: { confirm: "Are you sure?" } )%>
<% end %>
</div>