<div>
<% @users.each do |user| %>
<h1>歡迎!<%= user.name  %></h1>
<th>
<p>感謝你的註冊</p>
<%= link_to("刪除",
                        user_path(user),
                        class: "btn btn-sm btn-default",
                        method: :delete,
                        data: { confirm: "Are you sure?" } )%>
<% end %>
</div>